<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>Bonjour <%= "#{@owner.username}"%>, Vos coordonées on bien été envoyés à <%= @tenant.username%> pour votre annonce : <%= @offer.title %></h1>
  <p>Voici les coordonées du locataire</p>
  <ul>
    <%= "Email : " + @tenant.email %>
    <%= "Téléphone : " + @tenant.phone_number if @tenant.phone_number%>
  </ul>
  </body>
</html>
